.main-header{
    color: gray;
    
}

@font-face{
    font-family:bahnschrift;
    src: url(fonts/BAHNSCHRIFT.TTF);
}

a
{
    color: #606062!important;
    font-family: bahnschrift;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: .5rem;
    margin-top: 18px;
}

.body
{
    font-family: bahnschrift,sans-serif;
    color: #606062;
}
/*logo*/
.container-fluid .d-inline-block{
    width: 20rem!important;
}
.titulo{
    color: #606062;
}
.subTitulo{
    color: #606062;  
}
.lista .item{
    font-size: 1.5rem;
    font-weight: 600;
    color: #606062;  
}

ul {
    list-style: none; /* Quitamos los marcadores */
    padding: 0; /* Quitamos el padding por defecto de la lista */
    margin-left: 10px; /* Separamos la lista de la izquierda */
 }
    
 li::before { /* Añadimos contenido antes de cada elemento de la lista */
    content: "\2022"; /* Insertamos el marcador */
    font-weight:900;
    padding-right: 8px; /* Establecemos el espacio entre las viñetas y el list item */
    color: red; /* Coloreamos la viñeta */
 }