.main-header{
    color: gray;
    
}

@font-face{
    font-family:bahnschrift;
    src: url(fonts/BAHNSCHRIFT.TTF);
}

a
{
    color: #606062!important;
    font-family: bahnschrift;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: .5rem;
    margin-top: 18px;
}



body
{
    font-family: bahnschrift;
    color: #606062;
}

footer
{
    font-family: bahnschrift;
}
/*logo*/
.container-fluid .d-inline-block{
    width: 20rem!important;
}

.titulo{
    color: #606062;
    font-family: bahnschrift,sans-serif;
    text-decoration-style: dashed;
    font-weight: 400;
}
.subTitulo{
    color: #606062;  
    font-family: bahnschrift,sans-serif;

}
.lista .item{
    font-size: 1.8rem;
    font-weight: 600;
    color: black;  
}

ul {
    list-style-image: url("img/lsit-style-item.png");
 }


 li::before { /* Añadimos contenido antes de cada elemento de la lista */
    font-weight:5em;
    padding-right: 8px; /* Establecemos el espacio entre las viñetas y el list item */
 }

.color-red
{
    background-color: rgb(175, 46, 47);
    padding: 0.2em;
}

.color-dark
{
    background-color: rgb(230,231,233);
}

.padding-3
{
    padding: 10px;
}

.text-white
{
    text-decoration-color: aliceblue;
}

.subrayado{
    text-decoration: underline rgb(165, 24, 24);
}