.main-header{
    color: gray;
    
}

@font-face{
    font-family:bahnschrift;
    src: url(fonts/BAHNSCHRIFT.TTF);
}

a
{
    color: #606062!important;
    font-family: bahnschrift;
    text-decoration: none;
}

.body
{
    font-family: bahnschrift,sans-serif;
    color: #606062;
}
/*logo*/
.container-fluid .navbar-brand{
    width: 20rem!important;
}